@charset "UTF-8";
$ionicons-font-path: "/fonts/ionicons" !default;
$ionicons-font-family: "Ionicons" !default;
$ionicons-version: "3.0.0-alpha.3" !default;
@import "../node_modules/ionicons/dist/scss/ionicons";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/react-bootstrap-table/dist/react-bootstrap-table-all.min";
@import "nojs-menus.scss";

.lead {
  font-size: 1.4em;
}

pre {
  background-color: #333;
  border-color: #333;
  color: #eee;
  padding: 10px 20px;
  border-radius: 5px;
}

.navbar,
.navbar .btn,
.navbar .dropdown-item,
.navbar button {
  font-size: 18px;
  color: #fff;
}

.carousel {
  @media (max-width: 768px) {
      margin-top: calc(51px + (16px * 2));
  }
}

.navbar {
  background: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%);
  border-bottom: 1px solid #ddd;

  @media (max-width: 768px) {
      background-color: #000;
  }

  .navbar-nav {
    .nav-link {
      .icon {
        margin-right: 10px;
      }
      color: #fff;

      &:hover {
        color: #fff;
      }
    }
    @media (max-width: 768px) {
        display: block;
    }
    .nav-item {
      margin-right: 15px;
      .btn {
        &:hover {
          background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(0,0,0,0) 100%);
          color: #fff;
          text-decoration: none;
          border: 1px solid #fff;
        }
      }

      .btn-outline-primary {
        border: 1px solid #fff;

        &:hover { 
          background:linear-gradient(to bottom, rgba(255,255,255,0.65) 0%,rgba(0,0,0,0) 100%);
          color: #fff;
        }
      }
    }
  }

  .navbar-brand {
    color: #fff;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
    .logo-holder {
      background-color: #fff;
      display: inline-block;
      width: 55px;
      text-align: center;
    }
    .dropdown-toggle {
      color: #fff;

      &:after {
        margin-left: 10px;
      }
    }
  }

  .dropdown-item {
    color: #000;
  }
  
}

.card {
  @media (max-width: 768px) {
    margin-top: 20px;
  }
}

.card-body {
  height: 200px;
  overflow-y: auto;

  @media (max-width: 768px) {
    max-height: 250px;
    height: 250px;
  }
}

.emoji-picker, .jVXKvl {
  width: 100%!important;
}

.messages {

  & > div {
    padding: 10px;
    border-bottom: 1px solid rgb(231, 231, 231); 
    margin-bottom: 10px; 
    padding: 10px;
    color: #000;
  }
  

  .myMessage {
    background: linear-gradient(to left,rgb(231, 231, 231) 2%, #fff 70%);
  }

  .otherMessage {
    background: linear-gradient(to right,rgb(231, 231, 231) 2%, #fff 70%);
  }
}

.marginTop {
  margin-top:118px;
}

@media (max-width: 768px) {
  .marginTop {
    margin-top: 126px;
  }
  .display-2 {
    font-size: 3em;
  }
  .display-3 {
    font-size: 2.5em;
  }
  .display-4 {
    font-size: 2em;
  }
}

.icon-spin {
  display: inline-block;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/**
 * This is a fix for Reactstrap 5.0.0-alpha.4 not displaying menus in the 
 * navbar correcrtly on mobile devices.
 **/
.navbar .dropdown {
  display: block;
}

@media (max-width: 768px) {
  .navbar .dropdown-menu {
    position: relative !important;
    display: block !important;
    transform: none !important;
    padding: 0 0 10px 0;
    border: none;
  }
}

/**
 * Fix for Reactstrap
 **/
.react-bs-table-sizePerPage-dropdown .dropdown-item a {
  display: block;
  color: #000;
  text-decoration: none;
}

.react-bs-table-sizePerPage-dropdown button {
  background: #fff;
  color: #000;
}

